@media screen and (max-width: 320px) {
    
    header nav a{
        font-size: 12px;
    }

}

@media screen and (max-width:772px){  
   
    header .container_navbar{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        margin-right: 0%;              
    }   
    
    header .container_icones{
        display: flex;
        flex-direction: row;
        align-items: center;
    }  
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filme-principal{
        height: 100%;
    }

    .titulo{
        font-size:28px;
    }

    .botao{
        font-size: 10px;
        height: 20px;
        width: 200px;        
        margin-bottom: 15px;        
    }    
   
    .carrossel-filmes{
        margin-top: 5%;
    }

}

@media screen and (min-width:1000px) {
    .titulo{
        width: 50%;
    }
    .descricao{
        width: 50%;
    }

}